// font functions
@function rem($px) {
    @return ($px / 16) * 1rem;
}

// font size
$font-size-xs: rem(12);
$font-size-sm: rem(14);
$font-size-base: rem(16);
$font-size-lg: rem(18);

// font family
$font-primary: 'Noto Sans KR', sans-serif;

// colors
$color-primary: #DA3E34;
$color-black: #222222;
$color-white: #ffffff;

// font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;